PORT=3100
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD
DB_NAME

LANGSMITH_TRACING
LANGSMITH_API_KEY
LANGSMITH_ENDPOINT
LANGSMITH_PROJECT

LANGCHAIN_CALLBACKS_BACKGROUND

GROQ_API_KEY

OPENAI_API_KEY

COHERE_API_KEY

UNSTRUCTURED_API_KEY
UNSTRUCTURED_API_URL

JWT_SECRET
JWT_EXPIRES_IN=1d